In [1]:
import numpy as np

In [2]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in c:\users\shahd\anaconda3\lib\site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in c:\users\shahd\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in c:\users\shahd\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.21.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\shahd\anaconda3\lib\site-packages (from scikit-learn->sklearn) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\shahd\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.7.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=6c1d0f4e0ebf06e0e6f1752a492899bc2b4d07eb0d14b2ec87bba60896ded3b1
  Stored in directory: c:\users\shahd\appdata\local\pip\cache\wheels\e4\7b\98\b6466d71b8d738a0c547008b9eb39bf8676d1ff6ca4b22af1c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib as plt

In [56]:
from sklearn.linear_model import LinearRegression
model1=LinearRegression()

In [57]:
df=pd.read_csv('C:\\Users\\shahd\\Downloads\\salary_data.csv')

In [58]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [59]:
df.shape

(30, 2)

In [60]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [70]:
X=df[["YearsExperience"]]
Y=df[["Salary"]]

In [71]:
print(X)

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [72]:
print(Y)

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [73]:
X_train, X_test,Y_train,Y_test = train_test_split(X, Y, test_size=0.33)

In [74]:
print(Y_train)

    Salary
10   63218
21   98273
24  109431
0    39343
22  101302
9    57189
23  113812
19   93940
8    64445
13   57081
1    46205
28  122391
27  112635
26  116969
14   61111
11   55794
20   91738
29  121872
15   67938
17   83088

In [75]:
model.fit(X_train,Y_train)

LinearRegression()

In [77]:
model.score(X_test,Y_test)

0.9175924755732064

In [78]:
model.intercept_

array([27722.60045176])

In [79]:
model.coef_

array([[9314.4526614]])